* {
  margin: 0;
}
.first-loading-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #17171a;
}
.first-loading-wrp > h1 {
  font-size: 128px;
}
.first-loading-wrp .loading-wrp {
  padding: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot {
  animation: antRotate 1.2s infinite linear;
  transform: rotate(45deg);
  position: relative;
  display: inline-block;
  font-size: 32px;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.dot i {
  width: 14px;
  height: 14px;
  position: absolute;
  display: block;
  background-color: #1890ff;
  border-radius: 100%;
  transform: scale(0.75);
  transform-origin: 50% 50%;
  opacity: 0.3;
  animation: antSpinMove 1s infinite linear alternate;
}
.dot i:nth-child(1) {
  top: 0;
  left: 0;
}
.dot i:nth-child(2) {
  top: 0;
  right: 0;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.dot i:nth-child(3) {
  right: 0;
  bottom: 0;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.dot i:nth-child(4) {
  bottom: 0;
  left: 0;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
@keyframes antRotate {
  to {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
}
@-webkit-keyframes antRotate {
  to {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg);
  }
}
@keyframes antSpinMove {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes antSpinMove {
  to {
    opacity: 1;
  }
}
.n-grid {
  display: flex !important;
  flex-flow: wrap !important;
}
.n-grid-item-custom {
  width: 25%;
  box-sizing: border-box;
  padding: 10px;
}
@-moz-document url-prefix() {
  .n-scrollbar-container {
    width: calc(100% + 20px) !important;
    height: calc(100% + 20px) !important;
  }
  .n-layout-scroll-container {
    height: calc(100% + 20px) !important;
  }
  .n-scrollbar > .n-scrollbar-container > .n-scrollbar-content{
    width: calc(100% - 10px) !important;
    min-width: unset !important;
  }
}
.n-menu-item-content {
  display: flex !important;
}

.n-button__icon {
  margin: unset !important;
  margin-left: unset !important;
  height: unset !important;
  width: unset !important;
  max-width: unset !important;
  font-size: unset !important;
  position: unset !important;
  flex-shrink: unset !important;
  padding: 0 4px 0 0px;
}
.n-button .n-button__icon .n-icon-slot {
  height: unset !important;
  width: unset !important;
  position: unset !important;
  left: unset !important;
  top: unset !important;
  transform: unset !important;
  display: unset !important;
  align-items: unset !important;
  justify-content: unset !important;
}
.n-button__icon,
.n-button {
  display: -moz-box !important;
}
.n-button .n-button__content {
  display: unset !important;
}
.n-grid > div {
  margin: 10px;
  width: calc(25% - 20px);
}

/* 登录部分loading问题 */
.n-base-loading .n-base-loading__transition-wrapper {
  left: 0;
  top: 0;
}
.n-base-loading .n-base-loading__container .n-base-loading__container-layer .n-base-loading__container-layer-patch {
  display: none;
}
